.page {
  background-image: var(--bg-image);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  background-color: var(--bg-main-color);
  font-family: var(--font-family);
}

.header {
  block-size: 100vh;
  min-block-size: 668px;
  display: grid;
  grid-template-rows: 1fr min-content 1fr;
  padding: var(--content-padding);
  justify-items: end;
  position: relative;
  align-items: center;
}

.decorated-zone::before {
  content: "";
  position: absolute;
  border-inline-end: 1px solid var(--nav-color);
  border-block-start: 1px solid var(--nav-color);
  inset-block-start: var(--content-padding);
  inset-inline-end: var(--content-padding);

  inline-size: 25px;
  block-size: 25px;
}

.decorated-zone::after {
  content: "";
  position: absolute;
  inline-size: 25px;
  block-size: 25px;
  border-inline-start: 1px solid var(--nav-color);
  border-block-end: 1px solid var(--nav-color);
  inset-block-end: var(--content-padding);
  inset-inline-start: var(--content-padding);
}

.record {
  position: absolute;
  color: var(--accent-color);
  font-family: var(--font-family);
  font-weight: var(--font-weight);
  font-size: var(--font-size);
  line-height: 1.3;
  text-transform: uppercase;
  inset-block-start: var(--content-padding);
  inset-inline-end: calc(28px + var(--content-padding));
}

.record::after {
  content: "";
  position: absolute;
  inline-size: 9px;
  block-size: 9px;
  border-radius: 50%;
  box-shadow: 0 0 4px 2px var(--accent-color);
  background-color: var(--accent-color);
  inset-inline-end: -61%;
  inset-block-start: 31%;
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  gap: 9px;
}

.header__theme-menu-button {
  border: 1px solid transparent;
  padding: 3px 13px 5px;
  color: var(--nav-color);
  font-family: var(--font-family);
  font-weight: var(--font-weight);
  font-size: var(--font-size);
  appearance: none;
  line-height: 100%;
  text-align: center;
  text-transform: lowercase;
  background-color: transparent;
  cursor: pointer;
}

.header__theme-menu-button:hover {
  border: 1px solid var(--hover-color);
}

.header__theme-menu-button:focus {
  outline: none;
}

.header__theme-menu-button:focus-visible {
  border-bottom: 1px solid var(--nav-color);
}

.header__theme-menu-button_active {
  border: 1px solid var(--nav-color);
  pointer-events: none;
}

.header__title {
  color: var(--title-color);
  font-weight: var(--font-weight-b);
  font-size: var(--title-size);
  text-shadow: 4px 4px 0 var(--title-shadow-color);
  line-height: 82.5%;
  justify-self: start;
}
.header__text {
  font-weight: var(--font-weight-b);
  font-size: var(--font-size);
  line-height: var(--line-height);
}

.title-decor {
  color: var(--subtitle-color);
  background-color: var(--accent-color);
}

.content {
  padding: calc(4 * var(--content-padding)) var(--content-padding);
  line-height: var(--line-height);
  font-size: var(--font-size);
}

.content_section:not(:last-of-type) {
  margin-block-end: var(--section-gap);
}

.heading_text {
  font-size: var(--font-size);
  line-height: var(--line-height);
}

.heading_text-sub {
  font-weight: var(--font-weight);
  margin-block-start: 20px;
}

.content_title {
  color: var(--content-title-color);
  font-weight: var(--font-weight-b);
  font-size: var(--font-size);
  line-height: var(--line-height);
  margin-block-end: 20px;
}

.text-content {
  margin-block-start: 20px;
}

.text_selection {
  text-shadow: 2px 2px 0 var(--title-shadow-color);
  text-decoration: none;
}

.text_selection:hover {
  border-bottom: 1px solid currentColor;
}

.text_selection:focus {
  outline: none;
}

.text_selection:focus-visible {
  border: 1px solid var(--content-text-color);
}

.content_text {
  color: var(--content-text-color);
  font-weight: var(--font-weight);
  font-size: var(--font-size);
  line-height: 130%;
  margin-block-start: 10px;
}

.gallery__heading {
  font-size: var(--font-size);
  line-height: var(--line-height);
  margin-block-end: var(--content-padding);
}

.gallery_item {
  object-fit: cover;
  object-position: center;
  inline-size: 100%;
  block-size: 100%;
}

.gallery_items {
  display: grid;
  gap: var(--gallery-gap);
}

.footer {
  min-height: 668px;
  display: grid;
  justify-items: center;
  align-items: center;
  block-size: 100vh;
  position: relative;
  padding: var(--content-padding);
}

.footer_title {
  text-shadow: 2px 2px 0 var(--title-shadow-color);
  color: var(--title-color);
  font-family: var(--font-family);
  font-weight: var(--font-weight-b);
  font-size: var(--title-size);
  line-height: 83%;
}

@media (width >=768px) {
  .header__title {
    margin-inline-start: -20px;
    position: relative;
  }

  .header__text {
    inline-size: 50%;
  }

  .content {
    padding: calc(3 * var(--content-padding)) var(--content-padding);
  }

  .content_section {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: var(--content-padding);
  }
  .content_title {
    margin-block-start: 0;
  }

  .content_section .text-content:first-of-type {
    margin-block-start: 0;
  }

  .help {
    grid-template-columns: 1fr;
  }

  .help .content_title {
    width: 130px;
    margin-block-end: 0;
  }

  .gallery {
    grid-template-columns: 1fr;
  }
  .gallery__heading {
    margin-block-end: 0;
  }

  .gallery_items {
    grid-template-columns: repeat(3, 1fr);
  }

  .sunset {
    grid-column: 1 / 3;
  }

  .ice-cream {
    grid-column: 3;
    grid-row: 1 / 3;
  }

  .tape {
    grid-column: 1;
    grid-row: 2 / 4;
  }

  .street {
    grid-column: 2 / 4;
    grid-row: 3;
  }
}

@media (width >= 1024px) {
  .header {
    min-height: 768px;
  }

  .header__theme-menu {
    justify-self: center;
    align-self: self-start;
  }

  .header__theme-menu-list {
    flex-direction: row;
  }
  .content_block {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: var(--content-padding);
  }
  .content_block .text-content {
    margin: 0;
  }
  .content_section {
    grid-template-columns: 32% 66%;
  }
  .help,
  .gallery {
    grid-template-columns: 1fr;
  }

  .help .content_title {
    width: 315px;
  }

  .how .content_block {
    grid-template-columns: 1fr;
  }

  .footer {
    min-height: 768px;
  }
}
